#row1{
  background-color: #C6D57E;
  border:1px solid white;
}
#row2{
  background-color: #D57E7E;
  border: 1px solid white;
}
#row3{
  background-color: #A2CDCD;
  border: 1px solid white;
}
#row4{
  background-color: #FFE1AF;
  border: 1px solid white;
}
#row5{
  background-color: #FFE6E6;
  border: 1px solid white;
}
#row6{
  background-color: #6196A6;
  border: 1px solid white;
}
#row7{
  background-color: #A4CE95;
  border: 1px solid white;
}
#row8{
  background-color: #F4EDCC;
  border: 1px solid white;
}
#row9{
  background-color: #F2AFEF;
  border: 1px solid white;
}
#row6{
  background-color: #C499F3;
  border: 1px solid white;
}
#row10{
  background-color: #E1AFD1;
  border: 1px solid white;
}
#row11{
  background-color: #AD88C6;
  border: 1px solid white;
}
#row12{
  background-color: #7469B6;
  border: 1px solid white;
}

